/* *{
margin: 0px;
padding: 0px;
} */

/* App2 */

/* .dora{
  border-radius: 1rem;
  margin: 30px;
  background-color: grey;
  height: 350px;
  width: 300px;
}

img{
  border-radius: 1rem;
  margin: 30px;
  height: 200px;
  width: 150px;
}
p{
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: black;
} */

/* App4 */
/* 
.con{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card{
  position: relative;
  padding: 20px;
  margin: 50px;
  width: 300px;
  align-items: flex-start;
  justify-content: flex-start;
  border: 2px solid grey;
}

button{
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 35px;
  width: 95px;
  border-radius: 0.5rem;
  border: transparent;
  background-color: grey;
} */
